<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/show.css">
</head>
<body>
    <div id = "main">
        <a href = "/">Go Back to Home.</a>
        <h1><%= filename  %></h1>
        <p><%= filedata  %></p>
    </div>
</body>
</html>